/* Universal */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('images/apple.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Calculator */
.calculator {
  background-color: #000000;
  border-radius: 40px;
  width: 320px;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

/* Result Display */
.result {
  background-color: #000000;
  color: white;
  text-align: right;
  padding: 150px 16px 16px 16px;
  font-size: 4rem;
  border-radius: 40px;
  width: 100%;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/* Buttons */
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  max-width: 320px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.zero {
  width: 150px;
  border-radius: 50% / 100% 100% 100% 100%;
  text-align: left;
  padding-left: 30px;
}

button:hover {
  background-color: #444;
}

.clear, .extra {
  background-color: #a5a5a5;
}

.equal, .operator {
  background-color: #ffa009;
}

/* Highlighted Operator Button */
.operator.highlighted {
  background-color: white; /* Change to the highlighted background color */
  color: orange; /* Change to the highlighted text color */
}
